<!--elements -->
<section id="superadmin-section" class="container-fluid mt-2" *ngIf="roleOfTheUser == 'SUPERADMIN'">

    <div class="over-all-card-details row justify-content-center hover-border-change pointer">

        <div id="{{tile.id}}" class="card mb-3 text-center col-2 mx-1" (click)="showSection(tile.routerLink)" *ngFor="let tile of this.loadDashboardTiles()">
            <div class="available-card-details">
                <div class="card-body">
                    <span class="card-title user-icon">
                        <i class="fa {{tile.icon}} fa-3x" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="mb-2">
                    <span class="text fw-bold">{{tile.tileName}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="active-card-details">
        <router-outlet></router-outlet>
    </div>

</section>

