<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <div class="nav-link active" aria-current="page" href="#">Home</div>
                <div class="nav-link user-details d-flex">
                    <p class="name">Karthick Vasudevan</p>
                    <i class="fa fa-user-circle fa-2x text-white ms-1" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</nav>