
<form #loginJson="ngForm" (ngSubmit)="login(loginJson.value)" autocomplete="new-password">
    <div class="card p-3 col-sm-12 col-md-3 mt-5 rounded-3" style="background-color: #ffffff;">
        <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating my-2">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username"
                [(ngModel)]="email" #username="ngModel" required autocomplete="off" [class.is-invalid]="username.invalid && username.touched">
            <label for="floatingInput">Email address</label>
            <span class="text-danger" *ngIf="username.invalid && username.touched"><small>email address can't be empty</small></span>
        </div>
        <div class="form-floating my-2">
            <input type="password" required class="form-control" id="floatingPassword" placeholder="Password"
                name="password" ngModel #password="ngModel" [class.is-invalid]="password.invalid && password.touched" autocomplete="new-password">
            <label for="floatingPassword">Password</label>
            <span class="text-danger" *ngIf="password.invalid && password.touched"><small>password can't be empty</small></span>
        </div>

        <div class="checkbox my-3">
            <label class="float-left">
                <input type="checkbox" value="remember-me" (change)="rememberFlag=!rememberFlag" [checked]="rememberFlag"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary my-3" [disabled]="!loginJson.valid" type="submit">Login</button>
    </div>
</form>