<nav class="navbar navbar-expand-sm navbar-dark bg-dark m-0 p-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">

                <!-- <li class="nav-item">
                    <span class="nav-link active" aria-current="page">Home</span>
                </li> -->

                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle user-details d-flex" id="logout" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span>
                            <p class="name">{{nameOfTheUser}}</p>
                        </span>
                        <span class="ms-3">
                            <i class="fa fa-user-circle fa-2x text-white" aria-hidden="true"></i>
                        </span>
                    </span>
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="logout">
                        <li (click)="logout()"><a class="dropdown-item pointer">logout</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>